name: Main Workflow
on: push
env:
  github_username: yossi-cohen19
  github_password: ${{ secrets.GITHUB_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
jobs:
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: clone down repo
        uses: actions/checkout@v4
      - name: build application
        run: ci/build-app.sh
      - name: test application
        run: ci/unit-test-app.sh
      - name: upload repo
        uses: actions/upload-artifact@v4
        with: 
          name: code
          path: .
          include-hidden-files: true  
          
  linting:
   runs-on: ubuntu-latest
   needs: [Build]
   steps:
     - name: download code
       uses: actions/download-artifact@v4
       with:
         name: code
         path: .
     - name: Run linting
       uses: super-linter/super-linter/slim@v7
       env:
         DEFAULT_BRANCH: main
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         DISABLE_ERRORS: true 
        
  DOCKER_IMAGE:
      runs-on: ubuntu-latest
      needs: [Build]
      permissions: 
        packages: write
      steps:
        - name: Download code
          uses: actions/download-artifact@v4
          with:
            name: code
            path: .
        - name: build docker
          run: bash ci/build-docker.sh
        - name: push docker
          run: bash ci/push-docker.sh
      
          
