name: Main Workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: clone down repo
        uses: actions/checkout@v4
      - name: build application
        run: ci/build-app.sh
